doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/fms.css")
  body
    block content
    script(src="/js/jquery-3.7.1.min.js")
    script(src="/js/axios.min.js")
    script(src="/js/fms.js")
